.wds.menu-list {
    list-style: none;
    padding: 0;
}

.wds .menu-item {
}

.wds .menu-link {
    text-decoration: none;
}

.wds .menu-link:hover {
    text-decoration: underline;
}

.wds .fa {
    color: #3a1867;
}

.wds i.fa {
    text-align: center;
    width: 1.75em;
}

.wds a img.fa {
    text-align: center;
    width: 1.75em;
}
